* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
  }

  .container1{
    background:#353333;
    padding: 15px 9%;
  }

  .container1 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
    gap:15px ;
  }

  .card-har {
    background:#4d4d4d;
    border-radius: 8px;
    width: 312px;
    border-style: solid;
    box-shadow:0 5px 5px #5a13ac;
    margin: 5px;
    text-align: center ;
    
  }

  .har-box{
    text-align: inherit;
    padding: 10px;
  }